@header-background-color: #000;
@navigation-menu-link-hover: #242424;
@index-decoration-text-color: #f7f4f1;
@index-user-block-background-color: #f7f4f1;
@btn-color: #000;
@btn-color-hover: #663d15;
@footer-background-color: #232323;

html,body{
	font-family: 'PT Sans Narrow', 'Arial', sans-serif;
	color: #000;
	font-size: 14px;
	font-weight: 700;
	line-height: 24px;
	text-transform: uppercase;
	background: #000 url(img/index-background.jpg) no-repeat center top; 
}

.shop-body{
	background: @index-user-block-background-color url(img/index-user-block-background.jpg) repeat;
}

.price-body{
	background: @index-user-block-background-color url(img/index-user-block-background.jpg) repeat;
}

img{
	max-width: 100%;
	height: auto;
}

.clearfix::after{
	display: block;
	content: "";
	clear: both;
}

.container{
	width: 940px;
	padding: 0 10px;
	margin: 0 auto;
}

.btn{
	display: inline-block;
	width: 140px;
	padding-top: 10px;
	padding-bottom: 10px;
	margin-right: 10px; 
	font-family: 'PT Sans Narrow', 'Arial', sans-serif;
	color: #fff;
	font-size: 14px;
	font-weight: 700;
	line-height: 24px;
	text-align: center;
	text-transform: uppercase;
	text-decoration: none;
	outline: none;
	border: none;
	cursor: pointer;
	background-color: @btn-color;
	&:hover{
		background-color: @btn-color-hover;
	}
	&:last-child{
		margin-right: 0; 
	}
}

.link{
	font-family: 'PT Sans Narrow', 'Arial', sans-serif;
	color: #fff;
	font-size: 14px;
	font-weight: 700;
	line-height: 24px;
	text-transform: uppercase;
	text-decoration: none;
}

.page-header{
	min-width: 960px;
	margin-bottom: 50px;
	background-color: @header-background-color;
	.navigation{
		float: left;
		.navigation__logo{
				float: left;
				width: 111px;
				height: 24px;	
				margin-top: 25px;
				margin-bottom: 25px;
				margin-right: 20px;
				margin-left : 20px;
			.navigation__logo img{
				width: 111px;
				height: 24px;	
			}
		}
		.navigation__list{
			width: 780px;
			padding: 0;
			margin: 0;
			font-size: 0;
			.navigation__item{
				display: inline-block;
				list-style: none;
				.navigation__link{
					position: relative;
					display: block;
					padding: 25px 20px;
					font-size: 16px;
					&:hover{
						background-color: @navigation-menu-link-hover;
					}
					&:active:after{
						position: absolute;
						display: block;
						content: "";
						bottom: 0;
						
						left: 20px;
						right: 20px;
						height: 4px;
						background-color: #fff;
					}
					&:active:hover{
						cursor: default;
						background-color: #000;
					}
				}
			}
		}
	}
	.header-login{
		position: relative;
		max-width: 140px;
		float: right;
		.header-login__link{
			display: block;
			padding: 25px 20px;
			padding-left: 50px;
			font-size: 16px;
			&:hover{
				background-color: @navigation-menu-link-hover;
			}
			&::before{
				position: absolute;
				display: inline-block;
				content: "";
				left: 20px;
				top: 30px;
				width: 20px;
				height: 20px;
				background: url(img/spritesheet.png) no-repeat;
				background-position: -10px -176px;
				opacity: 0.3;
			}
			&:hover::before{
				opacity: 1;
			}
		}
	}
}

.shop-header{
	margin-bottom: 0;
}

.page-main{
		.index-logo{
			width: 368px;
			height: 204px;
			margin: 0 auto;
			margin-bottom: 25px;
			.index-logo__img{
				width: 368px;
				height: 204px;
			}
		}
		.index-decoration-info{
			color: @index-decoration-text-color;
			margin-bottom: 75px;
			.index-decoration_info__block{
				float: left;
				width: 300px;
				margin-right: 20px;
				text-align: center;
				&:last-child{
					margin-right: 0;
				}
				.index-decoration-info__title{
					position: relative;
					display: block;
					padding-bottom: 35px;
					margin-bottom: 35px;
					font-size: 30px;
					line-height: 42px;
					vertical-align: top;
					&::after{
						position: absolute;
						display: block;
						content: "";
						width: 20px;
						height: 20px;
						left: 50%;
						bottom: 0;
						margin-left: -10px;
						background-color: #fff;
						transform: rotate(45deg);
					}
				}
				.index-decoration-info__text{
					margin: 0 10px;
				}
			}
		}
		.index-user-block{
			min-height: 300px;
			padding: 55px 80px;
			margin-bottom: 35px;
			background: url(img/index-user-block-horizontal-line.png) no-repeat center, @index-user-block-background-color url(img/index-user-block-background.jpg) repeat;
			.news{
				float: left;
				width: 360px;
				.news__title{
					margin: 0;
					margin-bottom: 30px;
					font-size: 30px;
				}
				.news__list{
					padding: 0;
					margin: 0;
					.news__item{
						list-style: none;
						margin-bottom: 30px;
						.news__text{
							padding: 0;
							padding-right: 60px;
							margin: 0;
						}
						.news__time{
							font-weight: 400;
							text-transform: lowercase;
						}
					}
				}
			}
			.fotogalery{
				position: relative;
				float: right;
				width: 300px;
				height: 320px;
				.fotogalery__title{
					margin: 0;
					margin-bottom: 30px;
					font-size: 30px;
				}
				.fotogalery__figure{
					margin: 0;
					.fotogalery__img{
						border: #fff solid 7px;
					}
				}
				.fotogalery__btn-preview, .fotogalery__btn-next{
					position: absolute;
					bottom: 0;
				}
				.fotogalery__btn-preview{
					left: 0;
				}
				.fotogalery__btn-next{
					right: 0;
				}
			}
			.contact-info{
				width: 360px;
				float: left;
				.contact-info__title{
					margin: 0;
					margin-bottom: 30px;
					font-size: 30px;
					
				}
				.contact-info__text{
					margin: 0;
					margin-bottom: 20px;
				}
				.btn{
					margin-right: 20px;
					margin-top: 25px;
				}
			}
			.enrolls{
				width: 300px;
				float: right;
				.enrolls__title{
					margin: 0;
					margin-bottom: 30px;
					font-size: 30px;
					
				}
				.enrolls__text{
					margin: 0;
					margin-bottom: 25px;
				}
				.enrolls__form{
					.enrolls__input{
						width: 120px;
						float: left;
						padding: 10px;
						margin-right: 10px;
						margin-bottom: 15px;
						font-family: 'PT Sans Narrow', 'Arial', sans-serif;
						color: #000;
						font-size: 14px;
						font-weight: 700;
						line-height: 24px;
						text-transform: uppercase;
						text-decoration: none;
						outline: none;
						border: #000 solid 2px;
						&:nth-child(2n){
						margin-right: 0;
						}
						&:last-child{
							margin-bottom: 25px;
						}
						&:focus{
							border: #663d15 solid 2px;
						}
					}
				}
				.enrolls__submit{
					width: 100%;
				}
			}
		}
		.main-navigaton{
			margin-top: 55px;
			margin-bottom: 55px;
			.main-navigaton__title{
				font-size: 30px;
				margin: 0;
				margin-bottom: 25px;
			}
			.main-navigaton__list{
				padding: 0;
				.main-navigaton__item{
					position: relative;
					display: inline-block;
					list-style: none;
					.main-navigaton__link{
						display: inline-block; 
						margin-right: 40px;
						color: #000;
					}
						&::after{
							position: absolute;
							content: "";
							width: 8px;
							height: 8px;
							top: 8px;
							right: 15px;
							transform: rotate(45deg);
							background-color: #000;
						}
						&:last-child::after{
							display: none;
					    }
					}
				}
			}
		}
		.shop-left-user-block{
			float: left;
			width: 220px;
			.shop-manufacturers{
				margin-bottom: 55px;
				.shop-manufacturers__title{
					font-size: 24px;
					margin: 0;
					margin-top: 12px;
					margin-bottom: 35px;
				}
				.shop-manufacturers__form{
					.shop-manufacturers__list{
						padding: 0;
						padding-left: 35px;
						.shop-manufacturers__item{
							margin-bottom: 20px;
							list-style: none;
							.shop-manufacturers__label{
									position: relative;
								.shop-manufacturers__checkbox{
									display: none;
								}
								.shop-manufacturers__decoration-checkbox{
										position: absolute;
										display: inline-block;
										content: "";
										width: 20px;
										height: 20px;
										left: -35px;
										top: 1px;
										cursor: pointer;
										border: #000 solid 2px;
								}
								.shop-manufacturers__text{
									display: block;
									margin: 0;
								}
								.shop-manufacturers__checkbox:checked + .shop-manufacturers__decoration-checkbox::before, 
								.shop-manufacturers__checkbox:checked + .shop-manufacturers__decoration-checkbox::after{
									position: absolute;
									display: block;
									content: "";
									width: 2px;
									height: 15px;
									top: 3px;
									left: 8px;
									background-color: #000;
								}
								.shop-manufacturers__decoration-checkbox::before{
									transform: rotate(45deg);
								}
								}
								.shop-manufacturers__decoration-checkbox::after{
									transform: rotate(-45deg);
								}
							}
						}
					}
				}	
			.shop-product-group{
				.shop-product-group__title{
					font-size: 24px;
				}
			}
		}
		.shop-product{
			float: right;
			width: 700px;
			.shop-product__list{
				padding: 0;
				.shop-product__item{
					display: inline-block;
					width: 220px;
					min-height: 286px;
					margin-right: 10px;
					margin-bottom: 45px;
					vertical-align: top;
					background-color: #fff;
					-webkit-box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.2);
					-moz-box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.2);
					box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.2);
					&nth-child(3n){
						margin-right: 0;
					}
					.shop-product__img{

					}
					.shop-product__text{
						padding-left: 10px;
						padding-right: 10px;
					}
					.shop-product__user-block{
						width: 187px;
						margin-left: 16px;
						margin-right: 17px;
						margin-bottom: 20px;
						font-size: 0;
						.shop-product__shop{
							display: block;
							float: left;
							width: 99px;
							padding: 10px 5px;
							text-align: center;
							font-size: 14px;
							background-color: #e5e5e5;
						}
						.shop-product__btn-bue{
							float: left;
							width: 78px;
							font-size: 14px;
						}
					}
				}
			}
		.shop-product__btn-number{
			font-size: 14px;
			font-weight: 700;
			line-height: 24px;
			text-align: center;
			width: 43px;
			height: 43px;
			margin-bottom: 50px;
			margin-right: 7px;
			color: #fff;
			border: none;
			outline: none;
			background-color: #000;
			&:active{
				color: #000;
				background-color: #fff;
			}
		}
	}
	.price-title{
		margin-top: 55px;
		margin-bottom: 65px;
		text-align: center;
		&::after{
		content: "";
		position: relative;
		top: -25px;
		z-index: 1;
		display: block;
		border-bottom: 2px solid #000;
		}
		.price-title__title{
		position: relative;
		z-index: 2;
		display: inline-block;
		margin: 0;
		padding: 0 25px;
		font-size: 48px;
		line-height: 48px;
		text-align: center;
		background: @index-user-block-background-color url(img/index-user-block-background.jpg) repeat;	
		}
	}
	
	.facilities{
		width: 400px;
		float: left;
		margin-bottom: 65px;
		.facilities__title{
			margin: 0;
			margin-bottom: 35px;
		}
		.facilities__list{
			padding: 0;
			padding-left: 20px;
			.facilities__item{
			    position: relative;
			    margin-bottom: 20px;
				list-style: none;
			&::before{
			position: absolute;
			content: "";
			width: 8px;
			height: 8px;
			top: 8px;
			left: -20px;
			transform: rotate(45deg);
			background-color: #000;
			}
			}
		}
	}
	.prices-masters{
		width: 460px;
		float: right;
		.prices-masters__title{
			margin: 0;
			margin-bottom: 35px;
			text-align: left;
		}
		.prices-masters__table{
			margin-bottom: 65px;
			border-collapse: collapse;
			.prices-masters__tr{
				border: #000 solid 2px;
				.prices-masters__td{
					width: 230px;
					padding: 15px 20px;
					text-align: left;
					border: #000 solid 2px;
				}
			}
		}
	}
	.about-us{
		.about-us__title{
			margin: 0;
			margin-bottom: 35px;
		}
		.about-us__block-text{
			display: inline-block;
			width: 380px;
			margin-bottom: 80px;
			text-align: left;
			&:nth-child(2n){
				margin-right: 100px;
			}
			.about-us__text{

			}
		}
	}

.page-footer{
	min-width: 960px;
	padding-top: 55px;
	padding-bottom: 40px;
	margin-top: 65px;
	color: #fff;
	background: @footer-background-color url(img/footer-background.jpg) repeat;
	.footer-contact{
		float: left;
		width: 320px;
		margin-right: 80px;
		.footer__ink{
			cursor: pointer;
			text-decoration: underline;
		}
	}
	.footer__social{
		float: left;
		width: 140px;
		.footer-social__title{
			margin: 0;
			margin-bottom: 20px;
			text-align: center;
		}
		.footer-btn-social{
			float: left;
			content: "";
			width: 43px;
			height: 43px;
			margin-right: 5px;
			font-size: 0;
			background: #000 url(img/spritesheet.png) no-repeat;
			&:last-child{
				margin-right: 0;
			}
		}
		.footer__social-vk{
			background-position: -1px -199px;
			&:hover{
				background-position: -1px -234px;;
				background-color: #fff;
			}		
		}
		.footer__social-fb{
			background-position: 5px 0px;
			&:hover{
				background-position: 5px -42px;
				background-color: #fff;
			}		
		}
		.footer__social-inst{
			background-position: 1px -84px;
			&:hover{
				background-position: 1px -125px;
				background-color: #fff;
			}
		}
	}
	.footer-copyrite{
		float: right;
		width: 140px;
		.footer-copyrite__title{
			margin: 0;
			margin-bottom: 20px;
			text-align: center;
		}
		.footer-copyrite__link{
			&:hover{
				color: #000;
				background-color: #fff;
			}
		}
	}
}

.shop-footer{
	margin-top: 0;
}
