@header-background-color: #000;
@navigation-menu-link-hover: #242424;
@index-decoration-text-color: #f7f4f1;
@index-user-block-background-color: #f7f4f1;
@btn-color: #000;
@btn-color-hover: #663d15;
@footer-background-color: #232323;

html,body{
	font-family: 'PT Sans Narrow', 'Arial', sans-serif;
	color: #000;
	font-size: 14px;
	font-weight: 700;
	line-height: 24px;
	text-transform: uppercase;
	background: #000 url(img/index-background.jpg) no-repeat center top; 
}

img{
	max-width: 100%;
	height: auto;
}

.clearfix::after{
	display: block;
	content: "";
	clear: both;
}

.container{
	width: 940px;
	padding: 0 10px;
	margin: 0 auto;
}

.btn{
	display: inline-block;
	width: 140px;
	padding-top: 10px;
	padding-bottom: 10px;
	margin-right: 10px; 
	font-family: 'PT Sans Narrow', 'Arial', sans-serif;
	color: #fff;
	font-size: 14px;
	font-weight: 700;
	line-height: 24px;
	text-align: center;
	text-transform: uppercase;
	text-decoration: none;
	outline: none;
	border: none;
	background-color: @btn-color;
	&:hover{
		background-color: @btn-color-hover;
	}
	&:last-child{
		margin-right: 0; 
	}
}

.link{
	font-family: 'PT Sans Narrow', 'Arial', sans-serif;
	color: #fff;
	font-size: 14px;
	font-weight: 700;
	line-height: 24px;
	text-transform: uppercase;
	text-decoration: none;
}

.page-header{
	min-width: 960px;
	margin-bottom: 50px;
	background-color: @header-background-color;
	.navigation{
		float: left;
		.navigation__list{
			width: 780px;
			padding: 0;
			margin: 0;
			font-size: 0;
			.navigation__item{
				display: inline-block;
				list-style: none;
				.navigation__link{
					display: block;
					padding: 25px 20px;
					font-size: 16px;
					&:hover{
						background-color: @navigation-menu-link-hover;
					}
				}
			}
		}
	}
	.header-login{
		position: relative;
		max-width: 140px;
		float: right;
		.header-login__link{
			display: block;
			padding: 25px 20px;
			padding-left: 50px;
			font-size: 16px;
			&:hover{
				background-color: @navigation-menu-link-hover;
			}
			&::before{
				position: absolute;
				display: inline-block;
				content: "";
				left: 20px;
				top: 30px;
				width: 20px;
				height: 20px;
				background: url(img/spritesheet.png) no-repeat;
				background-position: -10px -176px;
				opacity: 0.3;
			}
			&:hover::before{
				opacity: 1;
			}
		}
	}
}

.page-main{
		.index-logo{
			width: 358px;
			height: 204px;
			margin: 0 auto;
			margin-bottom: 25px;
			.index-logo__img{
				width: 368px;
				height: 204px;
			}
		}
		.index-decoration-info{
			color: @index-decoration-text-color;
			margin-bottom: 75px;
			.index-decoration_info__block{
				float: left;
				width: 300px;
				margin-right: 20px;
				text-align: center;
				&:last-child{
					margin-right: 0;
				}
				.index-decoration-info__title{
					position: relative;
					display: block;
					padding-bottom: 35px;
					margin-bottom: 35px;
					font-size: 30px;
					line-height: 42px;
					vertical-align: top;
					&::after{
						position: absolute;
						display: block;
						content: "";
						width: 20px;
						height: 20px;
						left: 50%;
						bottom: 0;
						margin-left: -10px;
						background-color: #fff;
						transform: rotate(45deg);
					}
				}
				.index-decoration-info__text{
					margin: 0 10px;
				}
			}
		}
		.index-user-block{
			min-height: 300px;
			padding: 55px 80px;
			margin-bottom: 35px;
			background: url(img/index-user-block-horizontal-line.png) no-repeat center, @index-user-block-background-color url(img/index-user-block-background.jpg) repeat;
			.news{
				float: left;
				width: 360px;
				.news__title{
					margin: 0;
					margin-bottom: 30px;
					font-size: 30px;
				}
				.news__list{
					padding: 0;
					margin: 0;
					.news__item{
						list-style: none;
						margin-bottom: 30px;
						.news__text{
							padding: 0;
							padding-right: 60px;
							margin: 0;
						}
						.news__time{
							font-weight: 400;
							text-transform: lowercase;
						}
					}
				}
			}
			.fotogalery{
				position: relative;
				float: right;
				width: 300px;
				height: 320px;
				.fotogalery__title{
					margin: 0;
					margin-bottom: 30px;
					font-size: 30px;
				}
				.fotogalery__figure{
					margin: 0;
					.fotogalery__img{
						border: #fff solid 7px;
					}
				}
				.fotogalery__btn-preview, .fotogalery__btn-next{
					position: absolute;
					bottom: 0;
				}
				.fotogalery__btn-preview{
					left: 0;
				}
				.fotogalery__btn-next{
					right: 0;
				}
			}
			.contact-info{
				width: 360px;
				float: left;
			}
			.enrolls{
				width: 300px;
				float: right;
			}
		}
	}

.page-footer{
	min-width: 960px;
	margin-top: 65px;
	color: #fff;
	background: @footer-background-color url(img/footer-background.jpg) repeat;
	.footer-contact{
		float: left;
		width: 320px;
	}
	.footer__social{
		float: left;
		width: 140px;
		.footer-btn-social{
			float: left;
			content: "";
			width: 43px;
			height: 43px;
			margin-right: 5px;
			font-size: 0;
			background: #000 url(img/spritesheet.png) no-repeat;
			&:last-child{
				margin-right: 0;
			}
		}
		.footer__social-vk{
			background-position: -1px -199px;
			&:hover{
				background-position: -1px -234px;;
				background-color: #fff;
			}		
		}
		.footer__social-fb{
			background-position: 5px 0px;
			&:hover{
				background-position: 5px -42px;
				background-color: #fff;
			}		
		}
		.footer__social-inst{
			background-position: 1px -84px;
			&:hover{
				background-position: 1px -125px;
				background-color: #fff;
			}
		}
	}
	.footer-copyrite{
		float: right;
		width: 140px;
	}
}