html,
body {
  font-family: 'PT Sans Narrow', 'Arial', sans-serif;
  color: #000;
  font-size: 14px;
  font-weight: 700;
  line-height: 24px;
  text-transform: uppercase;
  background: #000000 url(img/index-background.jpg) no-repeat center top;
}
.shop-body {
  background: #f7f4f1 url(img/index-user-block-background.jpg) repeat;
}
.price-body {
  background: #f7f4f1 url(img/index-user-block-background.jpg) repeat;
}
img {
  max-width: 100%;
  height: auto;
}
.clearfix::after {
  display: block;
  content: "";
  clear: both;
}
.container {
  width: 940px;
  padding: 0 10px;
  margin: 0 auto;
}
.btn {
  display: inline-block;
  width: 140px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-right: 10px;
  font-family: 'PT Sans Narrow', 'Arial', sans-serif;
  color: #fff;
  font-size: 14px;
  font-weight: 700;
  line-height: 24px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  outline: none;
  border: none;
  cursor: pointer;
  background-color: #000000;
}
.btn:hover {
  background-color: #663d15;
}
.btn:last-child {
  margin-right: 0;
}
.link {
  font-family: 'PT Sans Narrow', 'Arial', sans-serif;
  color: #fff;
  font-size: 14px;
  font-weight: 700;
  line-height: 24px;
  text-transform: uppercase;
  text-decoration: none;
}
.page-header {
  min-width: 960px;
  margin-bottom: 50px;
  background-color: #000000;
}
.page-header .navigation {
  float: left;
}
.page-header .navigation .navigation__logo {
  float: left;
  width: 111px;
  height: 24px;
  margin-top: 25px;
  margin-bottom: 25px;
  margin-right: 20px;
  margin-left: 20px;
}
.page-header .navigation .navigation__logo .navigation__logo img {
  width: 111px;
  height: 24px;
}
.page-header .navigation .navigation__list {
  width: 780px;
  padding: 0;
  margin: 0;
  font-size: 0;
}
.page-header .navigation .navigation__list .navigation__item {
  display: inline-block;
  list-style: none;
}
.page-header .navigation .navigation__list .navigation__item .navigation__link {
  position: relative;
  display: block;
  padding: 25px 20px;
  font-size: 16px;
}
.page-header .navigation .navigation__list .navigation__item .navigation__link:hover {
  background-color: #242424;
}
.page-header .navigation .navigation__list .navigation__item .navigation__link:active:after {
  position: absolute;
  display: block;
  content: "";
  bottom: 0;
  left: 20px;
  right: 20px;
  height: 4px;
  background-color: #fff;
}
.page-header .navigation .navigation__list .navigation__item .navigation__link:active:hover {
  cursor: default;
  background-color: #000;
}
.page-header .header-login {
  position: relative;
  max-width: 140px;
  float: right;
}
.page-header .header-login .header-login__link {
  display: block;
  padding: 25px 20px;
  padding-left: 50px;
  font-size: 16px;
}
.page-header .header-login .header-login__link:hover {
  background-color: #242424;
}
.page-header .header-login .header-login__link::before {
  position: absolute;
  display: inline-block;
  content: "";
  left: 20px;
  top: 30px;
  width: 20px;
  height: 20px;
  background: url(img/spritesheet.png) no-repeat;
  background-position: -10px -176px;
  opacity: 0.3;
}
.page-header .header-login .header-login__link:hover::before {
  opacity: 1;
}
.shop-header {
  margin-bottom: 0;
}
.page-main .index-logo {
  width: 368px;
  height: 204px;
  margin: 0 auto;
  margin-bottom: 25px;
}
.page-main .index-logo .index-logo__img {
  width: 368px;
  height: 204px;
}
.page-main .index-decoration-info {
  color: #f7f4f1;
  margin-bottom: 75px;
}
.page-main .index-decoration-info .index-decoration_info__block {
  float: left;
  width: 300px;
  margin-right: 20px;
  text-align: center;
}
.page-main .index-decoration-info .index-decoration_info__block:last-child {
  margin-right: 0;
}
.page-main .index-decoration-info .index-decoration_info__block .index-decoration-info__title {
  position: relative;
  display: block;
  padding-bottom: 35px;
  margin-bottom: 35px;
  font-size: 30px;
  line-height: 42px;
  vertical-align: top;
}
.page-main .index-decoration-info .index-decoration_info__block .index-decoration-info__title::after {
  position: absolute;
  display: block;
  content: "";
  width: 20px;
  height: 20px;
  left: 50%;
  bottom: 0;
  margin-left: -10px;
  background-color: #fff;
  transform: rotate(45deg);
}
.page-main .index-decoration-info .index-decoration_info__block .index-decoration-info__text {
  margin: 0 10px;
}
.page-main .index-user-block {
  min-height: 300px;
  padding: 55px 80px;
  margin-bottom: 35px;
  background: url(img/index-user-block-horizontal-line.png) no-repeat center, #f7f4f1 url(img/index-user-block-background.jpg) repeat;
}
.page-main .index-user-block .news {
  float: left;
  width: 360px;
}
.page-main .index-user-block .news .news__title {
  margin: 0;
  margin-bottom: 30px;
  font-size: 30px;
}
.page-main .index-user-block .news .news__list {
  padding: 0;
  margin: 0;
}
.page-main .index-user-block .news .news__list .news__item {
  list-style: none;
  margin-bottom: 30px;
}
.page-main .index-user-block .news .news__list .news__item .news__text {
  padding: 0;
  padding-right: 60px;
  margin: 0;
}
.page-main .index-user-block .news .news__list .news__item .news__time {
  font-weight: 400;
  text-transform: lowercase;
}
.page-main .index-user-block .fotogalery {
  position: relative;
  float: right;
  width: 300px;
  height: 320px;
}
.page-main .index-user-block .fotogalery .fotogalery__title {
  margin: 0;
  margin-bottom: 30px;
  font-size: 30px;
}
.page-main .index-user-block .fotogalery .fotogalery__figure {
  margin: 0;
}
.page-main .index-user-block .fotogalery .fotogalery__figure .fotogalery__img {
  border: #fff solid 7px;
}
.page-main .index-user-block .fotogalery .fotogalery__btn-preview,
.page-main .index-user-block .fotogalery .fotogalery__btn-next {
  position: absolute;
  bottom: 0;
}
.page-main .index-user-block .fotogalery .fotogalery__btn-preview {
  left: 0;
}
.page-main .index-user-block .fotogalery .fotogalery__btn-next {
  right: 0;
}
.page-main .index-user-block .contact-info {
  width: 360px;
  float: left;
}
.page-main .index-user-block .contact-info .contact-info__title {
  margin: 0;
  margin-bottom: 30px;
  font-size: 30px;
}
.page-main .index-user-block .contact-info .contact-info__text {
  margin: 0;
  margin-bottom: 20px;
}
.page-main .index-user-block .contact-info .btn {
  margin-right: 20px;
  margin-top: 25px;
}
.page-main .index-user-block .enrolls {
  width: 300px;
  float: right;
}
.page-main .index-user-block .enrolls .enrolls__title {
  margin: 0;
  margin-bottom: 30px;
  font-size: 30px;
}
.page-main .index-user-block .enrolls .enrolls__text {
  margin: 0;
  margin-bottom: 25px;
}
.page-main .index-user-block .enrolls .enrolls__form .enrolls__input {
  width: 120px;
  float: left;
  padding: 10px;
  margin-right: 10px;
  margin-bottom: 15px;
  font-family: 'PT Sans Narrow', 'Arial', sans-serif;
  color: #000;
  font-size: 14px;
  font-weight: 700;
  line-height: 24px;
  text-transform: uppercase;
  text-decoration: none;
  outline: none;
  border: #000 solid 2px;
}
.page-main .index-user-block .enrolls .enrolls__form .enrolls__input:nth-child(2n) {
  margin-right: 0;
}
.page-main .index-user-block .enrolls .enrolls__form .enrolls__input:last-child {
  margin-bottom: 25px;
}
.page-main .index-user-block .enrolls .enrolls__form .enrolls__input:focus {
  border: #663d15 solid 2px;
}
.page-main .index-user-block .enrolls .enrolls__submit {
  width: 100%;
}
.page-main .main-navigaton {
  margin-top: 55px;
  margin-bottom: 55px;
}
.page-main .main-navigaton .main-navigaton__title {
  font-size: 30px;
  margin: 0;
  margin-bottom: 25px;
}
.page-main .main-navigaton .main-navigaton__list {
  padding: 0;
}
.page-main .main-navigaton .main-navigaton__list .main-navigaton__item {
  position: relative;
  display: inline-block;
  list-style: none;
}
.page-main .main-navigaton .main-navigaton__list .main-navigaton__item .main-navigaton__link {
  display: inline-block;
  margin-right: 40px;
  color: #000;
}
.page-main .main-navigaton .main-navigaton__list .main-navigaton__item::after {
  position: absolute;
  content: "";
  width: 8px;
  height: 8px;
  top: 8px;
  right: 15px;
  transform: rotate(45deg);
  background-color: #000;
}
.page-main .main-navigaton .main-navigaton__list .main-navigaton__item:last-child::after {
  display: none;
}
.shop-left-user-block {
  float: left;
  width: 220px;
}
.shop-left-user-block .shop-manufacturers {
  margin-bottom: 55px;
}
.shop-left-user-block .shop-manufacturers .shop-manufacturers__title {
  font-size: 24px;
  margin: 0;
  margin-top: 12px;
  margin-bottom: 35px;
}
.shop-left-user-block .shop-manufacturers .shop-manufacturers__form .shop-manufacturers__list {
  padding: 0;
  padding-left: 35px;
}
.shop-left-user-block .shop-manufacturers .shop-manufacturers__form .shop-manufacturers__list .shop-manufacturers__item {
  margin-bottom: 20px;
  list-style: none;
}
.shop-left-user-block .shop-manufacturers .shop-manufacturers__form .shop-manufacturers__list .shop-manufacturers__item .shop-manufacturers__label {
  position: relative;
}
.shop-left-user-block .shop-manufacturers .shop-manufacturers__form .shop-manufacturers__list .shop-manufacturers__item .shop-manufacturers__label .shop-manufacturers__checkbox {
  display: none;
}
.shop-left-user-block .shop-manufacturers .shop-manufacturers__form .shop-manufacturers__list .shop-manufacturers__item .shop-manufacturers__label .shop-manufacturers__decoration-checkbox {
  position: absolute;
  display: inline-block;
  content: "";
  width: 20px;
  height: 20px;
  left: -35px;
  top: 1px;
  cursor: pointer;
  border: #000 solid 2px;
}
.shop-left-user-block .shop-manufacturers .shop-manufacturers__form .shop-manufacturers__list .shop-manufacturers__item .shop-manufacturers__label .shop-manufacturers__text {
  display: block;
  margin: 0;
}
.shop-left-user-block .shop-manufacturers .shop-manufacturers__form .shop-manufacturers__list .shop-manufacturers__item .shop-manufacturers__label .shop-manufacturers__checkbox:checked + .shop-manufacturers__decoration-checkbox::before,
.shop-left-user-block .shop-manufacturers .shop-manufacturers__form .shop-manufacturers__list .shop-manufacturers__item .shop-manufacturers__label .shop-manufacturers__checkbox:checked + .shop-manufacturers__decoration-checkbox::after {
  position: absolute;
  display: block;
  content: "";
  width: 2px;
  height: 15px;
  top: 3px;
  left: 8px;
  background-color: #000;
}
.shop-left-user-block .shop-manufacturers .shop-manufacturers__form .shop-manufacturers__list .shop-manufacturers__item .shop-manufacturers__label .shop-manufacturers__decoration-checkbox::before {
  transform: rotate(45deg);
}
.shop-left-user-block .shop-manufacturers .shop-manufacturers__form .shop-manufacturers__list .shop-manufacturers__item .shop-manufacturers__decoration-checkbox::after {
  transform: rotate(-45deg);
}
.shop-left-user-block .shop-product-group .shop-product-group__title {
  font-size: 24px;
}
.shop-product {
  float: right;
  width: 700px;
}
.shop-product .shop-product__list {
  padding: 0;
}
.shop-product .shop-product__list .shop-product__item {
  display: inline-block;
  width: 220px;
  min-height: 286px;
  margin-right: 10px;
  margin-bottom: 45px;
  vertical-align: top;
  background-color: #fff;
  -webkit-box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.2);
}
.shop-product .shop-product__list .shop-product__itemnth-child(3n) {
  margin-right: 0;
}
.shop-product .shop-product__list .shop-product__item .shop-product__text {
  padding-left: 10px;
  padding-right: 10px;
}
.shop-product .shop-product__list .shop-product__item .shop-product__user-block {
  width: 187px;
  margin-left: 16px;
  margin-right: 17px;
  margin-bottom: 20px;
  font-size: 0;
}
.shop-product .shop-product__list .shop-product__item .shop-product__user-block .shop-product__shop {
  display: block;
  float: left;
  width: 99px;
  padding: 10px 5px;
  text-align: center;
  font-size: 14px;
  background-color: #e5e5e5;
}
.shop-product .shop-product__list .shop-product__item .shop-product__user-block .shop-product__btn-bue {
  float: left;
  width: 78px;
  font-size: 14px;
}
.shop-product .shop-product__btn-number {
  font-size: 14px;
  font-weight: 700;
  line-height: 24px;
  text-align: center;
  width: 43px;
  height: 43px;
  margin-bottom: 50px;
  margin-right: 7px;
  color: #fff;
  border: none;
  outline: none;
  background-color: #000;
}
.shop-product .shop-product__btn-number:active {
  color: #000;
  background-color: #fff;
}
.price-title {
  margin-top: 55px;
  margin-bottom: 65px;
  text-align: center;
}
.price-title::after {
  content: "";
  position: relative;
  top: -25px;
  z-index: 1;
  display: block;
  border-bottom: 2px solid #000;
}
.price-title .price-title__title {
  position: relative;
  z-index: 2;
  display: inline-block;
  margin: 0;
  padding: 0 25px;
  font-size: 48px;
  line-height: 48px;
  text-align: center;
  background: #f7f4f1 url(img/index-user-block-background.jpg) repeat;
}
.facilities {
  width: 400px;
  float: left;
  margin-bottom: 65px;
}
.facilities .facilities__title {
  margin: 0;
  margin-bottom: 35px;
}
.facilities .facilities__list {
  padding: 0;
  padding-left: 20px;
}
.facilities .facilities__list .facilities__item {
  position: relative;
  margin-bottom: 20px;
  list-style: none;
}
.facilities .facilities__list .facilities__item::before {
  position: absolute;
  content: "";
  width: 8px;
  height: 8px;
  top: 8px;
  left: -20px;
  transform: rotate(45deg);
  background-color: #000;
}
.prices-masters {
  width: 460px;
  float: right;
}
.prices-masters .prices-masters__title {
  margin: 0;
  margin-bottom: 35px;
  text-align: left;
}
.prices-masters .prices-masters__table {
  margin-bottom: 65px;
  border-collapse: collapse;
}
.prices-masters .prices-masters__table .prices-masters__tr {
  border: #000 solid 2px;
}
.prices-masters .prices-masters__table .prices-masters__tr .prices-masters__td {
  width: 230px;
  padding: 15px 20px;
  text-align: left;
  border: #000 solid 2px;
}
.about-us .about-us__title {
  margin: 0;
  margin-bottom: 35px;
}
.about-us .about-us__block-text {
  display: inline-block;
  width: 380px;
  margin-bottom: 80px;
  text-align: left;
}
.about-us .about-us__block-text:nth-child(2n) {
  margin-right: 100px;
}
.page-footer {
  min-width: 960px;
  padding-top: 55px;
  padding-bottom: 40px;
  margin-top: 65px;
  color: #fff;
  background: #232323 url(img/footer-background.jpg) repeat;
}
.page-footer .footer-contact {
  float: left;
  width: 320px;
  margin-right: 80px;
}
.page-footer .footer-contact .footer__ink {
  cursor: pointer;
  text-decoration: underline;
}
.page-footer .footer__social {
  float: left;
  width: 140px;
}
.page-footer .footer__social .footer-social__title {
  margin: 0;
  margin-bottom: 20px;
  text-align: center;
}
.page-footer .footer__social .footer-btn-social {
  float: left;
  content: "";
  width: 43px;
  height: 43px;
  margin-right: 5px;
  font-size: 0;
  background: #000000 url(img/spritesheet.png) no-repeat;
}
.page-footer .footer__social .footer-btn-social:last-child {
  margin-right: 0;
}
.page-footer .footer__social .footer__social-vk {
  background-position: -1px -199px;
}
.page-footer .footer__social .footer__social-vk:hover {
  background-position: -1px -234px;
  background-color: #fff;
}
.page-footer .footer__social .footer__social-fb {
  background-position: 5px 0px;
}
.page-footer .footer__social .footer__social-fb:hover {
  background-position: 5px -42px;
  background-color: #fff;
}
.page-footer .footer__social .footer__social-inst {
  background-position: 1px -84px;
}
.page-footer .footer__social .footer__social-inst:hover {
  background-position: 1px -125px;
  background-color: #fff;
}
.page-footer .footer-copyrite {
  float: right;
  width: 140px;
}
.page-footer .footer-copyrite .footer-copyrite__title {
  margin: 0;
  margin-bottom: 20px;
  text-align: center;
}
.page-footer .footer-copyrite .footer-copyrite__link:hover {
  color: #000;
  background-color: #fff;
}
.shop-footer {
  margin-top: 0;
}
